modules = ["python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "nano"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
WORLDTIDES_API_KEY = "474931be-8bda-4116-94f8-95014386b296"
EARTHDATA_USERNAME = "liambjenkins"
EARTHDATA_PASSWORD = "Diesel0820!3!"
